:root{

    --bg:#F7F5F2;

    --text:#2D2D2D;

    --green:#5F7A61;

    --green-dark:#445B47;

    --sand:#D8CBB8;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:"Inter",sans-serif;

line-height:1.7;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:28px 10%;

position:sticky;

top:0;

background:rgba(247,245,242,.95);

backdrop-filter:blur(8px);

border-bottom:1px solid #e4dfd8;

}

.logo{

font-family:"Cormorant Garamond",serif;

font-size:2rem;

color:var(--green-dark);

}

ul{

display:flex;

gap:35px;

list-style:none;

}

a{

text-decoration:none;

color:var(--green);

transition:.3s;

}

a:hover{

color:var(--green-dark);

}

.hero{

height:75vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:0 20px;

}

.hero h1{

    font-family:"Cormorant Garamond", serif;
    font-size:5rem;
    color:#445B47;

}

.hero h2{

    font-size:1.4rem;
    color:#5F7A61;

}

.descricao{

    max-width:600px;
    margin-top:25px;

}

}

.hero p{

font-size:1.05rem;

max-width:700px;

}

.links{

margin-top:35px;

display:flex;

gap:25px;

}

section{

padding:110px 12%;

max-width:1000px;

margin:auto;

}

section h2{

font-family:"Cormorant Garamond";

font-size:2.4rem;

margin-bottom:30px;

color:var(--green-dark);

}
