@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


:root{

--verde:#405b45;
--verde2:#6f8667;
--terra:#986b45;
--areia:#f3eee5;
--marrom:#30251d;
--branco:#ffffff;

}



*{

margin:0;
padding:0;
box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

font-family:'Inter',sans-serif;
background:var(--areia);
color:var(--marrom);
line-height:1.7;

}



.container{

width:85%;
max-width:1100px;
margin:70px auto;

}





header{


background:
linear-gradient(
135deg,
var(--verde),
var(--terra)
);


color:white;

padding:100px 0;


}



header h1{

font-size:3.2rem;

}



header h2{

font-size:1.3rem;
font-weight:400;
margin:15px 0;

}



header p{

max-width:700px;
font-size:1.1rem;

}



.botoes{

margin-top:30px;
display:flex;
gap:15px;
flex-wrap:wrap;

}



.botoes a{

background:white;
color:var(--verde);
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:600;

transition:.3s;

}



.botoes a:hover{

transform:translateY(-4px);

}





nav{

background:white;
padding:20px;
text-align:center;
position:sticky;
top:0;
z-index:10;

box-shadow:0 5px 20px #0001;

}



nav a{

margin:0 15px;
color:var(--verde);
text-decoration:none;
font-weight:600;

}





h2{

color:var(--verde);
font-size:2rem;
margin-bottom:25px;

}



.destaque{

background:white;

padding:40px;

border-left:8px solid var(--terra);

border-radius:20px;

}




.timeline{

border-left:3px solid var(--terra);
padding-left:30px;

}



.timeline-item{

margin-bottom:35px;

}




.timeline-item h3{

color:var(--terra);

}






.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}



.card{

background:white;

padding:35px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);


transition:.35s;

}



.card:hover{

transform:translateY(-10px);

}




.card h3{

color:var(--terra);

margin-bottom:15px;

}



.card span{

display:inline-block;

margin-top:20px;

background:#e5dfd5;

padding:8px 15px;

border-radius:20px;

color:var(--verde);

font-size:.85rem;

font-weight:600;

}




ul{

padding-left:25px;

}




footer{

background:var(--marrom);

color:white;

text-align:center;

padding:30px;

}


.publicacao{

background:white;

padding:30px;

margin:25px 0;

border-radius:20px;

border-left:6px solid var(--verde);

}



.publicacao h3{

color:var(--terra);

}



.publicacao a{

color:var(--verde);

font-weight:600;

text-decoration:none;

}

.fluxo{

display:flex;

justify-content:center;

align-items:center;

gap:25px;

flex-wrap:wrap;

}



.fluxo div{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

min-width:160px;

box-shadow:
0 8px 20px rgba(0,0,0,.08);

font-weight:600;

color:var(--verde);

transition:.3s;

}



.fluxo div:hover{

transform:scale(1.05);

}



.reveal{

opacity:0;

transform:translateY(30px);

transition:1s;

}



.reveal.show{

opacity:1;

transform:none;

}
